<appSettings>
  <add key="FacebookAppId" value="1216061285185985" />
  <add key="FacebookAppSecret" value="b358e65895616fad809c0552e94724e0" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>